{%extends 'base.html' %}
{% load static %}
{% block content %}

{{block.super}}

<!--Landing section -->
<div class="banner">
  <div class="cover">
    <div class="container image">
      <h2 id="category">Welcome to Gall-Art</h2>
      <form class="form" role="search" action="{% url 'search_image' %}">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="&#xf3ee; Search by category" name="image_category">
          <br>
         </div>
      </form>
      <p>When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence.</p>
      <a href="#gallery">VIEW GALLERY</a>
      </div>
      </div>
      </div>
<!--End landing section-->   

<!--Display images-->
<div class="container">
  <div class="row">
  {% for image in images %}

<!-- displaying Images -->
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
 <h2 class="text-center">{{ image.name}} </h2>
 <p>{{image.description}}</p>
 <p>{{image.image_location.name}}</p>
 <p>{{image.image_category.name}}</p>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
<img src="{{image.pic.url}}" class="img-thumbnail" alt="Image" data-toggle="modal" data-target="#deleteModal">
</div>
</div>
{% for image in images %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Image Post</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                              <img src="{{image.pic.url}}" class="img-thumbnail" alt="Image">
                          </div>
                          <div class="col-md-6">
                              <p>{{image.description}}</p>
                              <p>{{image.image_location.name}}</p>
                              <p>{{image.image_category.name}}</p>

                          </div>

                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}         

  {% empty %}
</div>
<div class="row">
 <h2 class="text-center"> No image </h2>
</div>
  {% endfor %}
</div>   

{% endblock %} 