{% load django_bootstrap5 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  {% block styles %}
   {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  {% endblock %}
 </head>
  <body>
     <!-- Main Navbar -->
     <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="navMain">
      <div class="container navigation header_right wow animate__animated anaimate__fadeInLeft" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
      <a class="navbar-brand" href="/"> Gall-Art</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="/"> HOME <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/#category">GALLERY</a></li>
        </ul>
        <ul class="navbar-nav left">
        <a class="nav-item nav-link ml-auto social" href="" target="_blank"></a>
      </ul>
      </div>
  </nav>
  <!-- End of main navbar -->

  <!-- Location side navebar -->
  <div id="sideNav" class="navbar nav-side">
    <div class="container navigation header_right wow animate__animated anaimate__fadeInLeft" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <a class="navbar-brand" style="color: black">Locations</a>
    {% for location in locations %}
    <a href="/location/{{location.id}}">{{location.name}}</a>
    {% empty %}
    <a href="#">There are no locations</a>
    {% endfor %}
    <hr>
    <div class="locations">
    </div>
  </div>
</div>

<!-- End of side navbar -->   
</body>
</html>